/* Here 3 main part: head-container, history-container, form-container */

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
}

.title {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #cccaca;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 440px;
  margin: 0 auto;
  padding: 5px;
}
/* --------------------------------------------------

head-container

-----------------------------------------------------*/
.head-container h1 {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.balance {
  margin: 20px 0;
  justify-content: left;
}

.balance h4 {
  margin: 0;
  text-transform: uppercase;
}

.balance-number {
  margin: 0;
  font-size: 30px;
}

.in-exp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  text-transform: uppercase;
  border: 1px solid #b1b1b1;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.in-exp p {
  font-weight: bold;
  font-size: 120%;
}
.in-exp h4,
.in-exp p {
  margin: 0px;
}

.income,
.expense {
  text-align: center;
  width: 49%;
}

.income {
  border-right: 1px solid #bbbbbb;
}

.income p {
  color: rgb(17, 182, 85);
}
.expense p {
  color: rgb(167, 2, 2);
}
/* --------------------------------------------------

history-container

-----------------------------------------------------*/
.history-container {
  margin-bottom: 10px;
}

.history-container ul {
  list-style-type: none;
  padding: 0;
}

.history-container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #cccaca;
  box-shadow: 0 2px 2px #cfcfcf;
  margin-bottom: 10px;
}

.history-container ul li span {
  font-size: 120%;
}

.history-container ul li.positive {
  border-right: 6px solid rgb(17, 182, 85);
}

.history-container ul li.negative {
  border-right: 6px solid rgb(167, 2, 2);
}

.remove-item {
  cursor: pointer;
  position: absolute;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(167, 2, 2);
  z-index: -1;
  transition: transform 0.2s ease-in-out;
}

.history-container li::before {
  content: '';
  height: 28px;
  width: 28px;
  position: absolute;
  transform: translateX(-100%);
}
.history-container li:hover:before .remove-item {
  left: 0;
  transform: translateX(-95%);
  z-index: 1;
}

.history-container li:hover .remove-item {
  left: 0;
  transform: translateX(-95%);
  z-index: 0;
}

.history-container li svg {
  stroke: #fff;
  stroke-width: 2px;
}
/* --------------------------------------------------

form-container

-----------------------------------------------------*/
.form-container input,
label,
button {
  border: 0;
  margin: 10px 0;
  font-size: 16px;
}

.form-container label {
  display: block;
  margin: 0;
  margin-top: 10px;
}
.form-container input {
  border: 1px solid #dedede;
  width: 100%;
  padding: 10px;
}

.form-container input:focus,
button:focus {
  outline: 0;
}

.form-container button {
  margin-bottom: 30px;
  background-color: #9c88ff;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 2px #cfcfcf;
  cursor: pointer;
}

.form-container button:active {
  transform: scale(0.98);
}
